.container {
  margin-bottom: 10px;
}

.wrapper {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

.icon {
  display: inline-flex;
  border: 1px solid var(--color-turquoise-darken);
  border-radius: 50%;
  background-color: var(--color-black-darken);
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
